@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Epilogue', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar {
  width: 100%;
  height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar .nav-left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .nav-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-left li {
  list-style-type: none;
}

.nav-bar .nav-left li:nth-child(4):hover {
  font-size: 16px;
}

.nav-bar .nav-left li:nth-child(5):hover {
  font-size: 16px;
}

.nav-bar .nav-right {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-bar .nav-right li {
  list-style-type: none;
}

.nav-bar .nav-right li:last-child {
  font-size: 16px !important;
}

.nav-bar .nav-right li:last-child:hover {
  background-color: rgba(105, 102, 102, 0.2);
}

.nav-bar .nav-right .menu-hamb {
  display: none;
}

.nav-bar .nav-right li:nth-child(2) {
  border: 2px solid black;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px;
}

.nav-bar .nav-right li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-right li:nth-child(2):hover {
  font-size: 16px;
}

.nav-bar .nav-right li:nth-child(1):hover {
  font-size: 16px;
}

.principal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 85vh;
  margin-top: 10px;
}

.principal .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.principal .left-side h2 {
  font-size: 70px;
  font-weight: 700;
}

.principal .left-side p {
  font-size: 18px;
  width: 90%;
  font-weight: 400;
}

.principal .left-side input {
  width: 30%;
  height: 30px;
  color: #fff;
  background-color: black;
  border-radius: 8px;
}

.principal .left-side .audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.principal .left-side .audio .audio1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.principal .left-side .audio .audio1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.principal .left-side .audio .audio1 ul li {
  list-style-type: none;
}

.principal .left-side .audio .audio2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.principal .left-side .audio .audio2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.principal .left-side .audio .audio2 ul li {
  list-style-type: none;
}

.right-side {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-side img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.right-side .mobile {
  display: none;
}

/*----------CLASSES PARA ALTERAÇAO-----------*/
.fechar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.fechar img {
  padding: 10px;
  cursor: pointer;
}

.menu-invisible {
  display: none;
}

.menu-invisible2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 24px;
  position: absolute;
  -webkit-animation: animateleft 0.7s;
          animation: animateleft 0.7s;
}

@-webkit-keyframes animateleft {
  from {
    left: -10px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes animateleft {
  from {
    left: -10px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.menu-invisible2 .transparent {
  width: 30%;
  height: 100vh;
  background-color: rgba(105, 102, 102, 0.2);
}

.menu-invisible2 .menu-lateral {
  background-color: #fff;
  color: gray;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 9% 9%;
  gap: 14px;
  font-size: 16px;
}

.menu-invisible2 .menu-lateral li:nth-child(8) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid gray 2px;
  border-radius: 8px;
  padding: 10px;
}

.menu-invisible2 .menu-lateral li {
  list-style-type: none;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.menu-invisible2 .menu-lateral .register {
  width: 100%;
  font-size: 16px !important;
  cursor: pointer;
}

.menu-invisible2 .menu-lateral .register:hover {
  background-color: rgba(105, 102, 102, 0.2);
  text-align: center;
}

/*------------------DROP DOWN DESKTOP ------------------*/
.img-down-arrow {
  margin-left: 6px;
  cursor: pointer;
  z-index: 1000000;
}

.img-down-arrow2 {
  display: none;
}

.img-up-arrow {
  display: none;
}

.img-up-arrow2 {
  margin-left: 6px;
  cursor: pointer;
  z-index: 1000000;
}

/*---------------------------------------------------------------------------------------*/
.img-drop-down-second2 {
  display: none;
}

.img-drop-down-second {
  margin-left: 10px;
  cursor: pointer;
  z-index: 1000000;
}

.img-drop-up-second {
  display: none;
}

.img-drop-up-second2 {
  margin-left: 7px;
  cursor: pointer;
  z-index: 1000000;
}

/*--------------------------------------------------------------------*/
.drop-down {
  display: none;
}

.drop-down2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #949090;
          box-shadow: 5px 5px 15px 5px #949090;
  padding: 6px;
  min-width: 100px;
  z-index: 1000;
  background-color: #fff;
  height: 22%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  margin-top: 6px;
}

.drop-down2 ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial !important;
      -ms-flex-align: initial !important;
          align-items: initial !important;
}

.drop-down2 ul li:hover {
  font-size: 16px;
}

.drop-down-company {
  display: none;
}

.drop-down-company2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #949090;
          box-shadow: 5px 5px 15px 5px #949090;
  padding: 6px;
  min-width: 100px;
  z-index: 1000;
  background-color: #fff;
  height: 17%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  margin-top: 6px;
}

.drop-down-company2 ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial !important;
      -ms-flex-align: initial !important;
          align-items: initial !important;
}

.drop-down-company2 ul li:hover {
  font-size: 16px;
}

/*------------------DROP DOWN MOBILE ------------------*/
.carrers,
.about {
  cursor: pointer;
}

.login {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.features-lateral,
.company-lateral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.drop-down-lateral {
  display: none !important;
}

.drop-down-lateral2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
}

.drop-down-lateral2 ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop-down-lateral2 li img {
  vertical-align: middle;
}

/*---------CLASSES SUBSTITUIDAS PARA DROPDOWN SUPERIOR-------------*/
.down-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6px;
  z-index: 1000;
  cursor: pointer;
}

.down-arrow2 {
  display: none;
}

.up-arrow {
  display: none;
}

.up-arrow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6px;
  z-index: 1000;
  cursor: pointer;
}

/*---------CLASSES SUBSTITUIDAS PARA DROPDOWN INFERIOR-------------*/
.downarrow3 {
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 10000;
}

.uparrow3 {
  margin-left: 6px;
  display: none;
}

.downarrow4 {
  margin-left: 6px;
  display: none;
}

.uparrow4 {
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 10000;
}

/*---------------MEDIA QUERIES------------*/
@media screen and (min-width: 600px) {
  .menu-invisible2 {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .menu-invisible2 .transparent {
    width: 25% !important;
  }
  .menu-invisible2 .menu-lateral {
    width: 75% !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    height: 10vh !important;
  }
  .nav-bar .nav-right {
    width: unset !important;
  }
  .nav-bar .nav-right .menu-hamb {
    display: unset;
  }
  .audio {
    display: none !important;
  }
  .nav-left ul li:nth-child(2),
  .nav-left ul li:nth-child(3),
  .nav-left ul li:nth-child(4),
  .nav-left ul li:nth-child(5) {
    display: none;
  }
  .nav-bar .nav-left ul {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-left: 20px;
  }
  .nav-bar .nav-right ul {
    display: none;
  }
  .menu-hamb {
    display: block !important;
    cursor: pointer;
    margin-right: 20px;
  }
  .principal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .principal .left-side {
    width: 100% !important;
    height: 38% !important;
  }
  .principal .left-side h2 {
    font-size: 30px;
    text-align: center;
  }
  .principal .left-side p {
    text-align: center;
  }
  .principal .left-side .botao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .principal .right-side {
    width: 100% !important;
    height: 62% !important;
  }
  .principal .right-side .desktop {
    display: none;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .principal .right-side .mobile {
    display: block;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
}

@media screen and (max-width: 850px) {
  .right-side img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 947px) {
  .audio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .audio .audio1 {
    width: 100% !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .audio .audio2 {
    width: 100% !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media screen and (max-width: 449px) {
  .audio .audio1 ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .audio img {
    width: 80%;
  }
  .audio .audio2 ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .audio .audio2 ul li img {
    width: 70%;
  }
}

@media screen and (max-width: 340px) {
  .principal .right-side {
    height: 40% !important;
  }
  .principal .left-side {
    height: 60% !important;
  }
}

@media screen and (max-width: 833px) {
  .nav-bar .nav-left {
    width: 70%;
  }
  .nav-bar .nav-right {
    width: 25%;
  }
}

@media screen and (max-width: 737px) {
  .nav-bar .nav-left {
    width: 75%;
  }
  .nav-bar .nav-right ul {
    width: 97% !important;
  }
}

@media screen and (min-width: 1000px) {
  .nav-bar .nav-left {
    width: 50%;
  }
  .nav-bar .nav-right {
    width: 17%;
  }
}
/*# sourceMappingURL=style.css.map */